[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Baschtie
	email = Baschtie@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
[color]
	ui = always
  [color "branch"]
    current = green reverse
    local = yellow
    remote = blue
  [color "diff"]
    meta = yellow
    frag = cyan
    old = red
    new = green
    whitespace = red reverse
  [color "status"]
    added = green
    changed = yellow
    untracked = red