[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Baschtie
	email = Baschtie@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
[color]
	ui = always
